body {
    margin: 0;
    padding: 0;
    /* background-color:black; */
}

#root {
    margin: 0;
    padding: 0;
}

textarea {
    width: 100%-2rem;
    height: 86.5%;
    padding: 1rem;
    font-size: 1rem;
    color: "black";
    background-color: rgba(240, 240, 240, 1);
    border: none;
    resize: none;
}

.main {
    text-align: center;
    margin: 0;
    padding: 0;
}

.output {
    display: grid;
    padding: 2px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem 15rem;
    column-gap: 2px;
    row-gap: 2px;
    text-align: left;
}

.output .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color: rgba(220, 220, 220, 1);
}

.output h2 {
    display: inline;
    margin: 0.5rem;
    padding: 0 1rem;
}

.output .title .Button {
    border: none;
    background-color: rgba(220, 220, 220, 1);
    margin: 0;
    padding: 0 2rem;
}

.output .title .Button .material-symbols-outlined {
    margin: 0.4rem 0;
    padding: 0.2rem;
    border-radius: 20%;
    background-color: rgba(244, 244, 244, 1);
}

.material-symbols-outlined {
    text-align: right;
    vertical-align: text-bottom;
}

.mode {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    height: inherit;
    max-height: 0;
    margin: 0;
    padding: 0;
    border: none;
    transform: translate(calc(50vw - 50%), 1.5rem);
}

.mode .Button {
    margin: 0;
    padding: 0.4rem;
    border: none;
    border-radius: 2rem;
    background-color: white;
}

.mode .Button .material-symbols-outlined {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.comment {
    text-align: center;
}